<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	
	<!--
		Path where log file is written: defaults to "/var/log/webtop"
		  (do not specify trailing directory separator)
	-->
	<property scope="context" name="LOG_DIR" value="${logback.webtop.log.dir:-/var/log/webtop}" />
	
	<!--
		Base log file name: defaults to webapp-name (or "webtop" at least)
	-->
	<property scope="context" name="LOG_FILE_BASENAME" value="${logback.webtop.log.file.basename:-webtop}" />
	
	<!--
		Log appender name to use: defaults to "wt-stdout"
	-->
	<property scope="context" name="LOG_APPENDER" value="${logback.webtop.log.appender:-stdout}" />
	
	
	
	<!-- WT standard appender - STDOUT -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{36} - %replace(%msg){'\s+$',''}%n</pattern>
			<!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
		</encoder>
	</appender>
	
	<!-- WT file appender - FILE -->
	<if condition='property("LOG_APPENDER").equals("file")'>
		<then>
			<appender name="file" class="ch.qos.logback.core.FileAppender">
				<file>${LOG_DIR}/${LOG_FILE_BASENAME}.log</file>
				<encoder>
					<pattern>%date{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{36} - %replace(%msg){'\s+$',''}%n</pattern>
				</encoder>
				<append>true</append>
				<immediateFlush>true</immediateFlush>
			</appender>
		</then>
	</if>
	
	<!-- WT file appender - ROLLING -->
	<if condition='property("LOG_APPENDER").equals("rollingfile")'>
		<then>
			<appender name="rollingfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>${LOG_DIR}/${LOG_FILE_BASENAME}.log</file>
				<encoder>
					<pattern>%date{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{36} - %replace(%msg){'\s+$',''}%n</pattern>
				</encoder>
				<!--
					RollingPolicy is responsible for the rollover procedure which involves file moving and renaming.
					You can choose between two different configurations:
					- TimeBasedRollingPolicy
						(like: webtop.2017-01-01.log, webtop.2017-01-02.log, and so on...)
					- FixedWindowRollingPolicy (in conjunction with triggeringPolicy)
						(like: webtop.1.log, webtop.2.log, and so on...)
					NB: keep only one 'rollingPolicy' uncommented at the same time!
				-->
				<!-- For TimeBasedRollingPolicy uncomment the following -->
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>${LOG_FILE_BASENAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
					<maxHistory>15</maxHistory>
					<totalSizeCap>150MB</totalSizeCap>
				</rollingPolicy>
				<!-- For FixedWindowRollingPolicy uncomment the following -->
				<!--
				<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<fileNamePattern>${LOG_FILE_BASENAME}.%i.log</fileNamePattern>
					<minIndex>1</minIndex>
					<maxIndex>15</maxIndex>
				</rollingPolicy>
				<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<maxFileSize>10MB</maxFileSize>
				</triggeringPolicy>
				-->
			</appender>
		</then>
	</if>
	
	
	
	<root level="OFF">
		<appender-ref ref="${LOG_APPENDER}" />
	</root>
	<logger name="ch.qos.logback" level="ERROR" />
	<logger name="com.zaxxer.hikari" level="ERROR" />
	<logger name="org.quartz" level="OFF" />
	<logger name="org.jooq" level="ERROR" />
	<logger name="org.apache.shiro" level="ERROR" />
	<logger name="org.atmosphere" level="ERROR" />
	<logger name="org.jivesoftware.smack" level="ERROR" />
	<logger name="org.glassfish.jersey" level="ERROR" />
	<logger name="io.swagger" level="ERROR" />
	
	<logger name="com.sonicle.security" level="ERROR" />
	<logger name="com.sonicle.commons" level="ERROR" />
	<logger name="com.sonicle.security" level="ERROR" />
	<logger name="com.sonicle.mail" level="ERROR" />
	<logger name="com.sonicle.vfs2" level="ERROR" />
	
	<logger name="com.sonicle.webtop.core" level="INFO" />
	<logger name="com.sonicle.webtop.core.job" level="ERROR" />
	<logger name="com.sonicle.webtop.core.app.atmosphere" level="ERROR" />
	<logger name="com.sonicle.webtop.core.app.servlet" level="ERROR" />
	<logger name="com.sonicle.webtop.calendar" level="INFO" />
	<logger name="com.sonicle.webtop.calendar.job" level="ERROR" />
	<logger name="com.sonicle.webtop.contacts" level="INFO" />
	<logger name="com.sonicle.webtop.contacts.job" level="ERROR" />
	<logger name="com.sonicle.webtop.mail" level="INFO" />
	<logger name="com.sonicle.webtop.tasks" level="INFO" />
	<logger name="com.sonicle.webtop.vfs" level="INFO" />
	<logger name="com.sonicle.webtop.drm" level="INFO" />
</configuration>